@import "../../../mixins";

/////////////////////////////////////////////////////////////////////////////////////////
/*  INFOCARD STYLES */

.rtl {
  .infoCard {
    .digit {
      float: right;
      margin-right: unset;
      margin-left: rem(20);
    }
  }
}
